In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('HIST_PAINEL_COVIDBR_2020_Parte1_04nov2022.csv', sep = ';')

In [3]:
data.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,1.0,1.0,NaN

In [5]:
data['codregiao']=data['regiao'].apply(lambda y: 0 if y=='Brasil' else
                                                 1 if y=='Norte' else
                                                 2 if y=='Nordeste' else
                                                 3 if y=='Sudeste' else
                                                 4 if y=='Sul' else
                                                 5 if y=='Centro-Oeste' else 'NA')

In [42]:
codregiao = [0,1,2,3,4,5]
RegiaoCSV=pd.DataFrame(data={'Desc_Regiao':pd.unique(data['regiao']), 'Cod_Regiao':codregiao})
pd.DataFrame(RegiaoCSV.set_index('Cod_Regiao')).to_csv('Regiao', sep = ';')

In [44]:
Estado_arr = data['estado'].fillna('BR')
EstadoCSV = pd.DataFrame(data={'Desc_Estado':pd.unique(Estado_arr), 'Cod_Estado':pd.unique(data['coduf'])})
pd.DataFrame(EstadoCSV.set_index('Cod_Estado')).to_csv('Estado', sep=';')

In [47]:
pd.unique(data['municipio'].dropna())

array(["Alta Floresta D'Oeste", 'Ariquemes', 'Cabixi', ..., 'Vila Boa',
       'Vila Propício', 'Brasília'], dtype=object)

In [9]:
cod_municipio_srt = data['codmun'].dropna().astype(int)
Municipio= pd.DataFrame(data={'Desc_Municipio':data['municipio'], 'Cod_Municipio':cod_municipio_srt, 'Cod_Estado':data['coduf'], 'Cod_Regiao':data['codregiao']})
Municipio_df=Municipio.groupby('Cod_Municipio').first().reset_index()

pd.DataFrame(data={'Cod_Municipio':Municipio_df['Cod_Municipio'], 'Desc_Municipio':Municipio_df['Desc_Municipio'], 'Cod_Estado':Municipio_df['Cod_Estado'], 'Cod_Regiao':Municipio_df['Cod_Regiao']}).set_index('Cod_Municipio').to_csv('Municipio', sep=';')

In [21]:
Regiao_saude = pd.DataFrame(data={'Desc_RegiaoSaude':data['nomeRegiaoSaude'], 'Cod_RegiaoSaude':data['codRegiaoSaude'], 'Cod_Estado':data['coduf'], 'Cod_Municipio':data['codmun'], 'Cod_Regiao':data['codregiao']})
Regiao_saude = Regiao_saude.groupby('Cod_RegiaoSaude').first().reset_index()
pd.DataFrame(data={'Desc_RegiaoSaude':Regiao_saude['Desc_RegiaoSaude'], 'Cod_RegiaoSaude':Regiao_saude['Cod_RegiaoSaude'], 'Cod_Estado':Regiao_saude['Cod_Estado'], 'Cod_Municipio':Regiao_saude['Cod_Municipio'], 'Cod_Regiao':Regiao_saude['Cod_Regiao']}).set_index('Cod_RegiaoSaude').to_csv('RegiaoSaude', sep=';')

In [13]:
Regiao_Saude.groupby('Cod_RegiaoSaude').first().reset_index()

Signature:
pd.DataFrame.groupby(
    self,
    by=None,
    axis: 'Axis' = 0,
    level: 'Level | None' = None,
    as_index: 'bool' = True,
    sort: 'bool' = True,
    group_keys: 'bool' = True,
    squeeze: 'bool | lib.NoDefault' = <no_default>,
    observed: 'bool' = False,
    dropna: 'bool' = True,
) -> 'DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, or list of labels
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If a list or ndarray of length
    equal to the selected axis is passed (see the `groupby user guide
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
    the values are used as-is to determine the groups. A label or list
    of labels may be passed to group by the columns in ``self``.
    Notice that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1).
level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels.
as_index : bool, default True
    For aggregated output, return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output.
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group.
group_keys : bool, default True
    When calling apply, add group keys to index to identify pieces.
squeeze : bool, default False
    Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type.

    .. deprecated:: 1.1.0

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.
dropna : bool, default True
    If True, and if group keys contain NA values, NA values together
    with row/column will be dropped.
    If False, NA values will also be treated as the key in groups.

    .. versionadded:: 1.1.0

Returns
-------
DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
detailed usage and examples, including splitting an object into groups,
iterating through groups, selecting a group, aggregation, and more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

We can also choose to include NA in group keys or not by setting
`dropna` parameter, the default setting is `True`.

>>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by=["b"]).sum()
    a   c
b
1.0 2   3
2.0 2   5

>>> df.groupby(by=["b"], dropna=False).sum()
    a   c
b
1.0 2   3
2.0 2   5
NaN 1   4

>>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by="a").sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0

>>> df.groupby(by="a", dropna=False).sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0
NaN 12.3   33.0
File:      c:\users\mathe\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      function