In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('HIST_PAINEL_COVIDBR_2020_Parte1_04nov2022.csv', sep = ';')

In [3]:
data.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,1.0,1.0,NaN

In [4]:
#Creating Cod_Data Column 
Cod_Data = []
for string in data['data']:
    Cod_Data.append(string.replace('-', ''))
data['Cod_Data']=Cod_Data

In [5]:
#Creating a column with a region code 
data['codregiao']=data['regiao'].apply(lambda y: 0 if y=='Brasil' else
                                                 1 if y=='Norte' else
                                                 2 if y=='Nordeste' else
                                                 3 if y=='Sudeste' else
                                                 4 if y=='Sul' else
                                                 5 if y=='Centro-Oeste' else 'NA')

In [6]:
data.head(5)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,Cod_Data,codregiao
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,0.0,0.0,NaN,20200225,0
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,1.0,0.0,NaN,20200226,0
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,1.0,0.0,NaN,20200227,0
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,0.0,1.0,NaN,20200228,0
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,1.0,1.0,NaN,20200229,0

In [7]:
#Extrating the regions and region code from DataFrame
RegiaoCSV=pd.DataFrame(data={'Desc_Regiao':pd.unique(data['regiao']), 'Cod_Regiao':pd.unique(data['codregiao'])})

#Creating a separately Data Frame with region and code_region to feed the data bank 
pd.DataFrame(RegiaoCSV.set_index('Cod_Regiao')).to_csv('Regiao', sep = ';')

In [8]:
#Extracting the states and states coede from DataFrame 
Estado_arr = data['estado'].fillna('BR')
EstadoCSV = pd.DataFrame(data={'Desc_Estado':pd.unique(Estado_arr), 'Cod_Estado':pd.unique(data['coduf'])})

#Creating a Data Frame with state and cod_state to feed the data bank 
pd.DataFrame(EstadoCSV.set_index('Cod_Estado')).to_csv('Estado', sep=';')

In [9]:
#Extrating the name of the cities and their respective region, region code and state code
cod_municipio_srt = data['codmun'].dropna().astype(int)
Municipio= pd.DataFrame(data={'Desc_Municipio':data['municipio'], 'Cod_Municipio':cod_municipio_srt, 'Cod_Estado':data['coduf'], 'Cod_Regiao':data['codregiao']})
Municipio_df=Municipio.groupby('Cod_Municipio').first().reset_index()

#Creating a Data Grame with city and cod_city to feed the data bank
pd.DataFrame(data={'Cod_Municipio':Municipio_df['Cod_Municipio'], 'Desc_Municipio':Municipio_df['Desc_Municipio'], 'Cod_Estado':Municipio_df['Cod_Estado'], 'Cod_Regiao':Municipio_df['Cod_Regiao']}).set_index('Cod_Municipio').to_csv('Municipio', sep=';')

In [10]:
#Extracting the health regions descriptions, the health regions code, the states code, the city code and the region code
Regiao_saude = pd.DataFrame(data={'Desc_RegiaoSaude':data['nomeRegiaoSaude'], 'Cod_RegiaoSaude':data['codRegiaoSaude'], 'Cod_Estado':data['coduf'], 'Cod_Municipio':data['codmun'], 'Cod_Regiao':data['codregiao']})
Regiao_saude = Regiao_saude.groupby('Cod_RegiaoSaude').first().reset_index()

#Creating a data frame with the columns extracted to feed the data bank 
pd.DataFrame(data={'Desc_RegiaoSaude':Regiao_saude['Desc_RegiaoSaude'], 'Cod_RegiaoSaude':Regiao_saude['Cod_RegiaoSaude'], 'Cod_Estado':Regiao_saude['Cod_Estado'], 'Cod_Municipio':Regiao_saude['Cod_Municipio'], 'Cod_Regiao':Regiao_saude['Cod_Regiao']}).set_index('Cod_RegiaoSaude').to_csv('RegiaoSaude', sep=';')

In [11]:
'''#Exporting a CSV with modifications to feed the data bank
pd.DataFrame(data=data).to_csv('Painel_CovidBR_2020_Parte1.csv')'''

"#Exporting a CSV with modifications to feed the data bank\npd.DataFrame(data=data).to_csv('Painel_CovidBR_2020_Parte1.csv')"

In [16]:
dataMG = data[data['estado']=='MG']
pd.DataFrame(data=dataMG).to_csv('Painel_CovidBR_MG_2020_Parte1.csv')

In [18]:
dataDF_2020_1 = data[data['estado']=='DF']
pd.DataFrame(data=dataDF_2020_1).to_csv('Painel_CovidBR_DF_2020_Parte1.csv')

In [19]:
data2 = pd.read_csv('HIST_PAINEL_COVIDBR_2020_Parte2_04nov2022.csv', sep = ';')

In [20]:
#Creating Cod_Data Column 
Cod_Data = []
for string in data2['data']:
    Cod_Data.append(string.replace('-', ''))
data2['Cod_Data']=Cod_Data

In [21]:
#Creating a column with a region code 
data2['codregiao']=data2['regiao'].apply(lambda y: 0 if y=='Brasil' else
                                                 1 if y=='Norte' else
                                                 2 if y=='Nordeste' else
                                                 3 if y=='Sudeste' else
                                                 4 if y=='Sul' else
                                                 5 if y=='Centro-Oeste' else 'NA')

In [23]:
dataDF_2020_2 = data2[data2['estado']=='DF']
pd.DataFrame(data=dataDF_2020_2).to_csv('Painel_CovidBR_DF_2020_Parte2.csv')